<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>

	<!-- Css Documento -->
	<link rel="stylesheet" href="/css/data_quality.css">

	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<script src="/mechanisms/dq-specimens.js"></script>
	<script src="/mechanisms/dq-glossary.js"></script>
	<script src="/mechanisms/dq-institution.js"></script>
	<script src="/mechanisms/ui-printer.js"></script>
	<script src="/mechanisms/bdq.js"></script>	
	<link rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.min.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css"  media="screen,projection"/>	

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
		ul {
			width:100%			
		}
		li {
			width:100%
		}
		a {}
	</style>

	<title>RCPol - Data Update</title>
</head>
<body>
<div class="contem">
	<!-- Modal Structure -->
	<div id="details" class="modal bottom-sheet">
		<div class="modal-content">
		<h4>Assertion Details</h4>
		<div>
			<textarea style="height:15em" id="d-content"></textarea>
		</div>
		</div>
		<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
		</div>
	</div>
	<!-- Início Header: Menu e Logotipo -->
	<header>
		<!-- Menu: início -->
		
		<!-- Menu: fim -->
		<!-- logotipo -->
		<div class="logo">
			<img src="/img/logo.png" alt="RCPol - Rede de Cat&aacute;logos Pol&iacute;nicos online" height="150px">
		</div>
		<!-- logotipo -->

	</header>
	<!-- Fim Header: Menu e Logotipo -->
	
		<div class="container" style="width:100%">
			<article>
				<div class="row">
					<div class="col s12">
						<h1 class="glo-tit" id="rcpol-Admin-siteGlossary" style="margin-bottom: 0px">Data Update</h1>
					</div>
				</div>
				<div class="row" style="padding: 0em 2em 0em 0em">
					<div class="title col s12">											
						<h3 style="font-size: 150%; margin:0px margin-bottom:1em">Spreadsheet Input</h3> 
					</div>
					<div class="input-field col s12">
						<input id="url-specimen" value="" placeholder="https://docs.google.com/spreadsheets/d/1gH0aa2qqnAgfAixGom3Gnx6Qp91ZvWhUHPb_QeoIreQ/edit#gid=765248797" id="url" type="text" class="validate">
						<label class="active" for="url">Spreadsheet URL:</label>
					</div>
					
				</div>
				<div class="row">
					<div class="input-field col s12">											
						<h3 style="font-size: 150%; margin:0px">Sheets</h3> 
					</div>
					<div class="col s12" >											
						<div class="collection">
							<a href="#!" class="collection-item" style="text-align:left">
								<span id="glossary-pt-br" class="badge green white-text" style="font-size:80%">								
									<i class="material-icons left">cached</i> <span id="glossary-pt-br-label">Update</span>
								</span>													
								1. Glossary (pt-BR)
								
							</a>
							<a href="#!" class="collection-item" style="text-align:left">
								<span id="glossary-en-us" class="badge green white-text" style="font-size:80%">								
									<i class="material-icons left">cached</i> <span id="glossary-en-us-label">Update</span>
								</span>
								2. Glossary (en-US)
							</a>
							<a href="#!" class="collection-item" style="text-align:left">
								<span id="glossary-es-es" class="badge green white-text" style="font-size:80%">								
									<i class="material-icons left">cached</i> <span id="glossary-es-es-label">Update</span>
								</span>
								3. Glossary (es-ES)
							</a>
							<a href="#!" class="collection-item" style="text-align:left">
								<span id="institution" class="badge green white-text" style="font-size:80%">								
									<i class="material-icons left">cached</i> <span id="institution-label">Update</span>
								</span>
								4. Institutions
							</a>
							<a href="#!" class="collection-item" style="text-align:left">
								<span id="specimen" class="badge green white-text" style="font-size:80%">								
									<i class="material-icons left">cached</i> <span id="specimen-label">Update</span>
								</span>
								5. Specimens / Species
							</a>
							<a href="#!" class="collection-item" style="text-align:left">
								<span id="key" class="badge green white-text" style="font-size:80%">								
									<i class="material-icons left">cached</i> <span id="key-label">Update</span>
								</span>
								6. Keys
							</a>
							<a href="#!" class="collection-item" style="text-align:left">
								<span id="glossary-images" class="badge green white-text" style="font-size:80%">								
									<i class="material-icons left">cached</i> <span id="glossary-images-label">Update</span>
								</span>
								7. Glossary Images
							</a>
							<a href="#!" class="collection-item" style="text-align:left">
								<span id="specimen-images" class="badge green white-text" style="font-size:80%">								
									<i class="material-icons left">cached</i> <span id="specimen-images-label">Update</span>									
								</span>														
								8. Specimens Images								
							</a>
						</div>
					</div>																																		
				</div>							
			</article>	
		</div>		
				
	<!-- Final das informações da Palinoteca -->		
	<!-- Início do Rodapé -->
	<footer>
		<p>Copyright &copy; 2018 RCPol - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>
	</footer>
	<!-- Final do Rodapé -->	
</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
	<script type="text/javascript">		
		var base;
		var lang;		
		$(document).ready(function(){				
			$("#glossary-pt-br").click(function() {
				$("#glossary-pt-br").removeClass("green");
				$("#glossary-pt-br").addClass("orange");
				$("#glossary-pt-br-label").html("Loading...");

				$("#glossary-en-us").hide();
				$("#glossary-es-es").hide();
				$("#specimen").hide();
				$("#institution").hide();
				$("#key").hide();
				$("#glossary-images").hide();
				$("#specimen-images").hide();

				var id = $("#url-specimen").val().split("d/")[1].split("/")[0];				
				$.get("/api/Specimens/getSpreadsheetInfo?id="+id,function(rs) {
					if(!rs.response.properties) return null;					
					base = rs.response.properties.title.split("[")[1].split("]")[0];
					lang = rs.response.properties.title.split("[")[2].split("]")[0];					
					$.get("/api/Schemas/xlsx/inputFromURL?id="+id+"&language=pt-BR&base="+base,function(rs) {
						$("#glossary-pt-br-label").html("Done!");
						$("#glossary-pt-br").removeClass("orange");
						$("#glossary-pt-br").addClass("blue");

						$("#glossary-en-us").show();
						$("#glossary-es-es").show();
						$("#specimen").show();
						$("#institution").show();
						$("#key").show();
						$("#glossary-images").show();
						$("#specimen-images").show();
					});
				});
			});

			$("#glossary-en-us").click(function() {
				$("#glossary-en-us").removeClass("green");
				$("#glossary-en-us").addClass("orange");
				$("#glossary-en-us-label").html("Loading...");

				$("#glossary-pt-br").hide();
				$("#glossary-es-es").hide();
				$("#specimen").hide();
				$("#institution").hide();
				$("#key").hide();
				$("#glossary-images").hide();
				$("#specimen-images").hide();

				var id = $("#url-specimen").val().split("d/")[1].split("/")[0];				
				$.get("/api/Specimens/getSpreadsheetInfo?id="+id,function(rs) {
					if(!rs.response.properties) return null;					
					base = rs.response.properties.title.split("[")[1].split("]")[0];
					lang = rs.response.properties.title.split("[")[2].split("]")[0];					
					$.get("/api/Schemas/xlsx/inputFromURL?id="+id+"&language=en-US&base="+base,function(rs) {
						$("#glossary-en-us-label").html("Done!");
						$("#glossary-en-us").removeClass("orange");
						$("#glossary-en-us").addClass("blue");

						$("#glossary-pt-br").show();
						$("#glossary-es-es").show();
						$("#specimen").show();
						$("#institution").show();
						$("#key").show();
						$("#glossary-images").show();
						$("#specimen-images").show();
					});
				});
			});

			$("#glossary-es-es").click(function() {
				$("#glossary-es-es").removeClass("green");
				$("#glossary-es-es").addClass("orange");
				$("#glossary-es-es-label").html("Loading...");

				$("#glossary-pt-br").hide();
				$("#glossary-en-us").hide();
				$("#specimen").hide();
				$("#institution").hide();
				$("#key").hide();
				$("#glossary-images").hide();
				$("#specimen-images").hide();

				var id = $("#url-specimen").val().split("d/")[1].split("/")[0];				
				$.get("/api/Specimens/getSpreadsheetInfo?id="+id,function(rs) {
					if(!rs.response.properties) return null;					
					base = rs.response.properties.title.split("[")[1].split("]")[0];
					lang = rs.response.properties.title.split("[")[2].split("]")[0];					
					$.get("/api/Schemas/xlsx/inputFromURL?id="+id+"&language=es-ES&base="+base,function(rs) {
						$("#glossary-es-es-label").html("Done!");
						$("#glossary-es-es").removeClass("orange");
						$("#glossary-es-es").addClass("blue");

						$("#glossary-pt-br").show();
						$("#glossary-en-us").show();
						$("#specimen").show();
						$("#institution").show();
						$("#key").show();
						$("#glossary-images").show();
						$("#specimen-images").show();
					});
				});
			});

			$("#institution").click(function() {
				$("#institution").removeClass("green");
				$("#institution").addClass("orange");
				$("#institution-label").html("Loading...");

				$("#glossary-pt-br").hide();
				$("#glossary-en-us").hide();
				$("#specimen").hide();
				$("#glossary-es-es").hide();
				$("#key").hide();
				$("#glossary-images").hide();
				$("#specimen-images").hide();

				var id = $("#url-specimen").val().split("d/")[1].split("/")[0];				
				$.get("/api/Specimens/getSpreadsheetInfo?id="+id,function(rs) {
					if(!rs.response.properties) return null;					
					base = rs.response.properties.title.split("[")[1].split("]")[0];
					lang = rs.response.properties.title.split("[")[2].split("]")[0];					
					$.get("/api/Collections/xlsx/inputFromURL?id="+id+"&language="+lang+"&base="+base,function(rs) {
						$("#institution-label").html("Done!");
						$("#institution").removeClass("orange");
						$("#institution").addClass("blue");

						$("#glossary-pt-br").show();
						$("#glossary-en-us").show();
						$("#specimen").show();
						$("#glossary-es-es").show();
						$("#key").show();
						$("#glossary-images").show();
						$("#specimen-images").show();
					});
				});
			});

			$("#specimen").click(function() {
				$("#specimen").removeClass("green");
				$("#specimen").addClass("orange");
				$("#specimen-label").html("Loading...");

				$("#glossary-pt-br").hide();
				$("#glossary-en-us").hide();
				$("#institution").hide();
				$("#glossary-es-es").hide();
				$("#key").hide();
				$("#glossary-images").hide();
				$("#specimen-images").hide();

				var id = $("#url-specimen").val().split("d/")[1].split("/")[0];				
				$.get("/api/Specimens/getSpreadsheetInfo?id="+id,function(rs) {
					if(!rs.response.properties) return null;					
					base = rs.response.properties.title.split("[")[1].split("]")[0];
					lang = rs.response.properties.title.split("[")[2].split("]")[0];					
					$.get("/api/Specimens/xlsx/inputFromURL?id="+id+"&language="+lang+"&base="+base,function(rs) {						
						$("#specimen-label").html("Done!");
						$("#specimen").removeClass("orange");
						$("#specimen").addClass("blue");

						$("#glossary-pt-br").show();
						$("#glossary-en-us").show();
						$("#institution").show();
						$("#glossary-es-es").show();
						$("#key").show();
						$("#glossary-images").show();
						$("#specimen-images").show();
					});
				});
			});

			$("#key").click(function() {
				$("#key").removeClass("green");
				$("#key").addClass("orange");
				$("#key-label").html("Loading...");

				$("#glossary-pt-br").hide();
				$("#glossary-en-us").hide();
				$("#institution").hide();
				$("#glossary-es-es").hide();
				$("#specimen").hide();
				$("#glossary-images").hide();
				$("#specimen-images").hide();

				var id = $("#url-specimen").val().split("d/")[1].split("/")[0];												
				$.get("/api/Identification/populate",function(rs) {
					$("#key-label").html("Done!");
					$("#key").removeClass("orange");
					$("#key").addClass("blue");
					$("#glossary-pt-br").show();
					$("#glossary-en-us").show();
					$("#institution").show();
					$("#glossary-es-es").show();
					$("#specimen").show();
					$("#glossary-images").show();
					$("#specimen-images").show();
				});				
			});

			$("#glossary-images").click(function() {
				$("#glossary-images").removeClass("green");
				$("#glossary-images").addClass("orange");
				$("#glossary-images-label").html("Loading...");

				$("#glossary-pt-br").hide();
				$("#glossary-en-us").hide();
				$("#institution").hide();
				$("#glossary-es-es").hide();
				$("#specimen").hide();
				$("#key").hide();
				$("#specimen-images").hide();
				
				$.get("/api/Schemas/downloadImages",function(rs) {
					$("#glossary-images-label").html("Done!");
					$("#glossary-images").removeClass("orange");
					$("#glossary-images").addClass("blue");
					$("#glossary-pt-br").show();
					$("#glossary-en-us").show();
					$("#institution").show();
					$("#glossary-es-es").show();
					$("#specimen").show();
					$("#key").show();
					$("#specimen-images").show();
				});				
			});
			$("#specimen-images").click(function() {
				$("#specimen-images").removeClass("green");
				$("#specimen-images").addClass("orange");
				$("#specimen-images-label").html("Loading...");

				$("#glossary-pt-br").hide();
				$("#glossary-en-us").hide();
				$("#institution").hide();
				$("#glossary-es-es").hide();
				$("#specimen").hide();
				$("#key").hide();
				$("#glossary-images").hide();
				
				$.get("/api/Specimens/downloadImages?base="+base,function(rs) {
					$("#specimen-images-label").html("Done!");
					$("#specimen-images").removeClass("orange");
					$("#specimen-images").addClass("blue");
					$("#glossary-pt-br").show();
					$("#glossary-en-us").show();
					$("#institution").show();
					$("#glossary-es-es").show();
					$("#specimen").show();
					$("#key").show();
					$("#glossary-images").show();
				});				
			});

		});
			
	</script>
</body>
</html>
