<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>

	<!-- Css Documento -->
	<link rel="stylesheet" href="/css/glossario.css">

	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Javascript Documento -->
    <script type="text/javascript" src="/javascript/glossary.js"></script>

	<script type="text/javascript">
      var lang = "{{lang}}"
	  var language = (lang == "")?"pt-BR":lang;

	  function setLanguage(language){
		localStorage.language = language;
		window.location = "/profile/glossary/"+localStorage.language;
	  }

	  window.onload = function(){
		if(localStorage && localStorage.language)
		  language = localStorage.language;
		$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22SiteLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
		  data.forEach(function(label) {
			$("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
		  });
		});
		$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22ProfilesLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
		  data.forEach(function(label) {
			if(label.term == "profilesDepositedInCollection"){
			  $("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field.toLowerCase());
			} else {
			  $("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
			}
		  });
		});
		if (typeof(Storage) !== "undefined") {
		  localStorage.language = localStorage.language?localStorage.language:"pt-BR";
		  if(language!=localStorage.language)
			window.location = "/profile/glossary/"+language;
		} else {
		  alert("O seu browswer não suporta alguns recursos utilizados pelo sistema.\nRecomenda-se atualizar browser ou utilizar outro.");
		}
		//Limpa texto da busca dos descritores
		var btpglossario = document.getElementById("buscaglossario");

		if(btpglossario.addEventListener){
		  btpglossario.addEventListener("click", function() {
			if (btpglossario.value == 'Pesquisar'){
			  btpglossario.value = '';
			}
		  });
		}

        $.getJSON("/api/Schemas?filter[fields][id]=true&filter[order]=order%20asc&filter[where][language]="+language, function(schemas){
          schemas.forEach(function(schema){
            writeSchema(schema);
          })
        });
	  }

	</script>

	<title>RCPol - Gloss&aacute;rio</title>
</head>
<body>
<div class="contem">
	<!-- Início Header: Menu e Logotipo -->
	<header>

		<!-- Menu: início -->
		<nav>
			<ul>
				<li> <!-- inserir link para o portal --> <a href="#">Home</a></li>
				<li> <!-- inserir link para a ferramenta --> <a href="/">Chave de identifica&ccedil;&atilde;o de esp&eacute;cies</a></li>
				<li>
					<img onclick="setLanguage('en-US')" style="height:28px;margin-right:5px" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/128/United-Kingdom-flag-icon.png"></a>
					<img onclick="setLanguage('es-ES')" style="height:28px;margin-right:5px" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/128/Spain-Flag-icon.png">
					<img onclick="setLanguage('pt-BR')" style="height:28px;" src="http://icons.iconarchive.com/icons/custom-icon-design/flag-3/128/Brazil-Flag-icon.png">
				</li>
			</ul>
		</nav>
		<!-- Menu: fim -->

		<!-- logotipo -->
		<div class="logo">
			<img src="/img/logo.png" alt="RCPol - Rede de Cat&aacute;logos Pol&iacute;nicos online" width="423px" height="150px">
		</div>
		<!-- logotipo -->

	</header>
	<!-- Fim Header: Menu e Logotipo -->

	<article>

		<h1 class="glo-tit">Glossário</h1>

		<form class="formbusca" onreset="busca(true)" onsubmit="busca(false); return false;">
			<input type="text" id="buscaglossario" class="fbcampo" size="21" maxlength="120" value="Pesquisar"><input type="submit" value="&#9654;" class="fbbotao">
			<input class="fbbotao" type="reset" value="Limpar">
		</form>


	</article>
	<!-- Final das informações da Palinoteca -->

	<!-- Início do Rodapé -->
	<footer>
		<p>Copyright &copy; 2016 RCPol - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>
	</footer>
	<!-- Final do Rodapé -->

</div>
</body>
</html>
