<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<!-- Css Documento -->
	<link rel="stylesheet" href="/css/gloss.css">

	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<!-- Arquivos Galeria - Fotorama -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

    <!-- Javascript Documento -->
    <script type="text/javascript" src="/javascript/glossary.js"></script>

	<script type="text/javascript">
	</script>
</head>
<body>

		<!-- Div que envolve todo o conteúdo -->
		<div class="glossario" id="{{id}}">

			<!-- Imagem do estado do descritor -->
			<img id="image" src="{{image}}">

			<!-- Nome do estado do descritor -->
			<h2 id="label">{{state}}</h2>
			<h3 id="sublabel">{{subtitle}}</h3>

			<!-- Descrição do estado do descritor -->
			<p id="description">{{definition}}</p>

			<!-- <h3 id="ref_title">Refer&ecirc;ncias Bibliogr&aacute;ficas</h3> -->

			<!-- Div que envolve as referências -->
			<!-- <div id="references" class="ref-glossario"> -->

				<!-- Cada referência é um elemento <p> -->
				<!-- <p>Silva C I, Ballesteros PLO, Palmero MA, Bauermann SG, Evaldt ACP, Oliveira PE (2010). Catálogo polínico: palinologia aplicada em estudos de conservação de abelhas do gênero Xylocopa no Triângulo Mineiro. Uberlândia: Edufu, 154p.</p>

				<p>Silva C I, Ballesteros PLO, Palmero MA, Bauermann SG, Evaldt ACP, Oliveira PE (2010). Catálogo polínico: palinologia aplicada em estudos de conservação de abelhas do gênero Xylocopa no Triângulo Mineiro. Uberlândia: Edufu, 154p.</p> -->

			</div>

	</div>
</body>
</html>
