<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<!-- Css Documento -->
	<link rel="stylesheet" href="/css/gloss.css">

	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<!-- Arquivos Galeria - Fotorama -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

    <!-- Javascript Documento -->
    <script type="text/javascript" src="/javascript/glossary.js"></script>

	<script type="text/javascript">
		var id = "{{id}}";
		var language = "pt-BR";
		function setLanguage(language){
			localStorage.language = language;
			window.location = "/profile/specimen/"+language+id.substring(5,id.length);
		}
	  $(document).ready(function(){
			if(localStorage && localStorage.language)
				language = localStorage.language;
			$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22SiteLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
				data.forEach(function(label) {
					$("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
				});
			});
			$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22ProfilesLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
				data.forEach(function(label) {
          if(label.term == "profilesDepositedInCollection"){
            $("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field.toLowerCase());
          } else {
              $("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
          }
				});
			});
			if (typeof(Storage) !== "undefined") {
					localStorage.language = localStorage.language?localStorage.language:"pt-BR";
					if(id.split(":")[0]!=localStorage.language)
						window.location = "/profile/specimen/"+language+id.substring(5,id.length);
			} else {
					alert("O seu browswer não suporta alguns recursos utilizados pelo sistema.\nRecomenda-se atualizar browser ou utilizar outro.");
			}
			readGlossary(id);
	  });
	</script>
</head>
<body>

		<!-- Div que envolve todo o conteúdo -->
		<div class="glossario" id="{{id}}">

			<!-- Imagem do estado do descritor -->
			<img id="image" src="/img/lspm.jpg">

			<!-- Nome do estado do descritor -->
			<h2 id="label"></h2>

			<!-- Descrição do estado do descritor -->
			<p id="description"></p>

			<h3 id="ref_title">Refer&ecirc;ncias Bibliogr&aacute;ficas</h3>

			<!-- Div que envolve as referências -->
			<div id="references" class="ref-glossario">

				<!-- Cada referência é um elemento <p> -->
				<!-- <p>Silva C I, Ballesteros PLO, Palmero MA, Bauermann SG, Evaldt ACP, Oliveira PE (2010). Catálogo polínico: palinologia aplicada em estudos de conservação de abelhas do gênero Xylocopa no Triângulo Mineiro. Uberlândia: Edufu, 154p.</p>

				<p>Silva C I, Ballesteros PLO, Palmero MA, Bauermann SG, Evaldt ACP, Oliveira PE (2010). Catálogo polínico: palinologia aplicada em estudos de conservação de abelhas do gênero Xylocopa no Triângulo Mineiro. Uberlândia: Edufu, 154p.</p> -->

			</div>

	</div>
</body>
</html>
