<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>

    <!-- Css Documento -->
	<link rel="stylesheet" href="/css/chave.css">

	<!-- JQuery -->
	<script src="/javascript/jquery.js"></script>

    <!-- JQuery Rolagem -->
	<link rel="stylesheet" href="/javascript/jquery.mCustomScrollbar.css">
	<script src="/javascript/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- Campos de busca, scrollbar e botões  -->
	<script type="text/javascript">
	  window.onload = function(){

        //Barras de Rolagem das caixas
		$(".roxinho").mCustomScrollbar({
			scrollButtons:{ enable: true },
			theme: "dark",
		});

		$(".roxinhodesc").mCustomScrollbar({
			scrollButtons:{ enable: true },
			theme: "dark",
		});

		//Limpa texto da busca dos descritores
		var btpdescritores = document.getElementById("buscadescritores");

		if(btpdescritores.addEventListener){
			btpdescritores.addEventListener("click", function() {
				if (btpdescritores.value == 'Pesquisar'){
					btpdescritores.value = '';
				}
			});
		}

		//Limpa texto da busca das espécies
		var submitbutton2 = document.getElementById("buscaespecies");

		if(submitbutton2.addEventListener){
			submitbutton2.addEventListener("click", function() {
				if (submitbutton2.value == 'Pesquisar'){
					submitbutton2.value = '';
				}
			});
		}

        //Toggle Descritores
        $(".accordion").on("click", ".toggle", function(e){
		  e.preventDefault();

		  var $this = $(this);

		  if ($this.next().hasClass('show')) {
			$this.next().removeClass('show');
			$this.next().slideUp(350);
			$this.children('span').html('+');
		  } else {
			$this.parent().parent().find('li .inner').removeClass('show');
			$this.parent().parent().find('li .inner').slideUp(350);
			$this.next().toggleClass('show');
			$this.next().slideToggle(350);
			$this.children('span').html('&minus;');
		  }
		});

		//Botão Mostrar todos
		$('.open').click(function(){
		  $('.inner').addClass('show');
		  $('li .inner').slideUp(350);
		  $('li .inner').slideToggle(350);
		  $('.accordion').find('span').html('&minus;');
		});

		//Botão Ocultar todos
		$('.close').click(function(){
		  $('.inner').removeClass('show');
		  $('li .inner').slideUp(350);
		  $('.accordion').find('span').html('+');
		});

		//Ao clicar adiciona a classe selecionado à div vimagens
        $(".accordion").on("click", ".vimagens", function(){
		  if ($(this).hasClass('selecionado')) {
			$(this).removeClass('selecionado');
		  } else {
			$(this).addClass('selecionado');
		  }
		});
      }

      $(document).ready(function(){
        identify([]);
      });
	</script>

    <script type="text/javascript" src="/javascript/chave.js"></script>

	<title>RCPol - Chave de Identifica&ccedil;&atilde;o de Esp&eacute;cies</title>
</head>
<body>
<div class="contem">
	<!-- Início Header: Menu e Logotipo -->
	<header>

		<!-- Menu: início -->
		<nav>
			<ul>
				<li> <!-- inserir link para o portal --> <a href="#">Home</a></li>
			</ul>
		</nav>
		<!-- Menu: fim -->

		<!-- logotipo -->
		<div class="logo">
			<img src="/img/logo.png" alt="RCPol - Rede de Cat&aacute;logos Pol&iacute;nicos online" width="423px" height="150px">
		</div>
		<!-- logotipo -->

	</header>
	<!-- Fim Header: Menu e Logotipo -->

	<!-- Início do quadrado branco de fundo -->
	<div class="qbranco">

		<!-- Início: Caixa da esquerda -->
		<div class="cesquerda">

			<!-- Título -->
			<h1>Descritores</h1>

			<!-- Início: Busca Descritores -->
			<form class="formbusca" onreset="buscaDescritores(true);" onsubmit="buscaDescritores(false); return false;">
				<input type="text" id="buscadescritores" class="fbcampo" size="21" maxlength="120" value="Pesquisar"><input type="submit" value="&#9654;" class="fbbotao"><input class="fbbotao" type="reset" value="Limpar">
			</form>

			<div class="tfclear"></div>
			<!-- Final: Busca Descritores -->

			<!-- Início: Descritores disponíveis -->
			<div class="roxinhobtn">
				<!-- Botões de Expandir/Ocultar -->
				<div class="divaeh">
                    <button type="button" class="open expocu">Ver todos</button>
					<button type="button" class="close expocu">Ocultar todos</button>
                    <button type="button" class="btnident" onclick="composeQuery()">Identificar &#9654;</button>
				</div>
            </div>

            <div class="roxinhodesc">
				<!-- Início: Div descritores superiores -->
				<div class="agregadordescritores">

                  <ul class="accordion">
                    <li><a id="category_Planta" class="toggle" href="javascript:void(0);"><span>+</span> Planta </a><ul id="desc_for_Planta" class="descritor inner"></ul></li>
                    <li><a id="category_Flor" class="toggle" href="javascript:void(0);"><span>+</span> Flor </a><ul id="desc_for_Flor" class="descritor inner"></ul></li>
                    <li><a id="category_Pólen" class="toggle" href="javascript:void(0);"><span>+</span> Pólen </a><ul id="desc_for_Pólen" class="descritor inner"></ul></li>
                  </ul>

				</div>
				<!-- Final: Div Descritor superior -->
			</div>
			<!-- Final: Descritores disponíveis -->

			<!-- Título -->
			<h2>Descritores selecionados</h2>

			<!-- Início: Descritores selecionados -->
			<div class="roxinho">

              <!-- Botões de Expandir/Ocultar -->
				<div class="divaeh">
					<button type="button" class="expocu" onclick="resetQuery()">Remover todos</button>
					<button type="button" class="expocu" onclick="removeSelected()">Remover Selecionados</button>
				</div>

                <div id="descritoresSelecionados" class="descel">
                </div>

			</div>
			<!-- Final: Descritores selecionados -->

		</div>
		<!-- Final: Caixa da esquerda -->

		<!-- Início: Caixa da direita -->
		<div class="cdireita">

			<!-- Título -->
			<h1>Espécies</h1>

			<!-- Início: Busca Espécies -->
			<form class="formbusca" onreset="buscaEspecies(true);" onsubmit="buscaEspecies(false); return false;">
				<input type="text" id="buscaespecies" class="fbcampo" size="21" maxlength="120" value="Pesquisar"><input type="submit" value="&#9654;" class="fbbotao"><input class="fbbotao" type="reset" value="Limpar">
			</form>
			<div class="tfclear"></div>
			<!-- Final: Busca Espécies -->

			<!-- Início: Espécies disponíveis -->
			<div class="roxinho">
              <div id="especiesElegiveis"></div>
			</div>
			<!-- Final: Espécies disponíveis -->

			<!-- Título -->
			<h2>Espécies descartadas</h2>

			<!-- Início: Espécies descartadas -->
			<div class="roxinho">

              <div id="especiesDescartadas">
              </div>

			</div>
			<!-- Final: Espécies descartadas -->

		</div>
		<!-- Final: Caixa da direita -->

	</div>
	<!-- Final do quadrado branco de fundo -->

	<!-- Início do Rodapé -->
	<footer>
		<p>Copyright &copy; 2016 RCPol - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>
	</footer>
	<!-- Final do Rodapé -->

</div>
</body>
</html>
