<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>	
    <link rel="import" href="/elements/interaction-profile/main.html"></script>	
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!-- Css Documento -->
	
	<link rel="stylesheet" href="/css/eco_fichas.css">
	
	<style>      
      #chart {
        height: 500px;
        font: 13px sans-serif;
      }
      .node rect {
        fill-opacity: .9;
        shape-rendering: crispEdges;
        stroke-width: 0;
      }
      .node text {
        text-shadow: 0 1px 0 #fff;
      }
      .link {
        fill: none;
        stroke: #abc;
        stroke-opacity: .2;
      }
    </style>
	<title>RCPol</title>

	<script type="text/javascript" src="/javascript/internacionalization.js"></script>
	<script type="text/javascript">
	var internacionalization;
	$(document).ready(function(){		    
		internacionalization = new Internacionalization();
		translate();
	});
	function translate(lang) {
		if (typeof lang != "undefined")
				internacionalization.setLanguage(lang);
		internacionalization.siteTranslator().interactionTranslator();
	}
	</script>
</head>
<body>
<div class="contem">
	<!-- Início Header: Menu e Logotipo -->
	<header>

		<!-- Menu: início -->
		<nav>
			<ul>
				<li> <!-- inserir link para o portal --> <a href="#" id="rcpol-SiteLabel-siteHome">Home</a></li>
				<li> <!-- inserir link para a ferramenta --> <a href="/" id="rcpol-SiteLabel-siteIdentificationKey">Identifica&ccedil;&atilde;o de esp&eacute;cies</a></li>
        <li> <!-- inserir link para o portal --> <a href="/profile/glossary" id="rcpol-SiteLabel-siteGlossary">Gloss&aacute;rio</a></li>
				<li>
					<img onclick="translate('en-US')" style="height:28px;margin-right:5px" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/128/United-Kingdom-flag-icon.png"></a>
					<img onclick="translate('es-ES')" style="height:28px;margin-right:5px" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/128/Spain-Flag-icon.png">
					<img onclick="translate('pt-BR')" style="height:28px;" src="http://icons.iconarchive.com/icons/custom-icon-design/flag-3/128/Brazil-Flag-icon.png">
				</li>
			</ul>
		</nav>
		<!-- Menu: fim -->

		<!-- logotipo -->
		<div class="logo">
			<img src="/img/logo.png" alt="RCPol - Rede de Cat&aacute;logos Pol&iacute;nicos online" width="423px" height="150px">
		</div>
		<!-- logotipo -->

	</header>
	<!-- Fim Header: Menu e Logotipo -->

	<!-- Início das informações da Página -->
	<article>
        <interaction-profile pollinator="{{pollinator}}"></interaction-profile>
		<!-- Final: Imagens de Abelhas -->

	</article>
	<!-- Final das informações da Página -->

	<!-- Início do Rodapé -->
	<footer>
		<p id="rcpol-SiteLabel-siteCopyright" title="teste">Copyright &copy; 2016 RCPol - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>
	</footer>
	<!-- Final do Rodapé -->

</div>
</body>
</html>












