<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>    
	
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!-- Css Documento -->
	<link rel="stylesheet" href="/css/eco_fichas.css">

	<title>RCPol - {{plant}}</title>

	<script type="text/javascript" src="/javascript/internacionalization.js"></script>
	<script type="text/javascript">			
	var internacionalization = new Internacionalization();			
	$(document).ready(function(){		
		$( document ).tooltip();  		
	  	internacionalization.base = 'interaction';	  					  
		internacionalization.siteTranslator();		
		internacionalization.updateLogo();
	});
	function setLanguage(language){
		// alert(id + " - "+base);
		localStorage.language = language;
		window.location = "/interaction/{{plant}}";
	}
	</script>
</head>
<body>
<div class="contem">
	<!-- Início Header: Menu e Logotipo -->
	<header>

		<!-- Menu: início -->
		<nav>
			<ul>
				<li> <!-- inserir link para o portal --> <a href="http://rcpol.org.br" id="rcpol-SiteLabel-siteHome">Home</a></li>
				<li> <!-- inserir link para a ferramenta --> <a href="/{{base}}" id="rcpol-SiteLabel-siteIdentificationKey">Identifica&ccedil;&atilde;o de esp&eacute;cies</a></li>
        <li> <!-- inserir link para o glossário --> <a href="/profile/glossary/{{base}}" id="rcpol-SiteLabel-siteGlossary">Gloss&aacute;rio</a></li>
				<li>
					<span class="t-lang">
							<img onclick="setLanguage('pt-BR')"  src="/img/pt_BR.png">
							<img onclick="setLanguage('en-US')"  src="/img/en_GB.png">
							<img onclick="setLanguage('es-ES')"  src="/img/es_ES.png">
					</span>
				</li>
			</ul>
		</nav>
		<!-- Menu: fim -->

		<!-- logotipo -->
		<div class="logo">
			<img src="/img/logo.png" alt="RCPol - Rede de Cat&aacute;logos Pol&iacute;nicos online" width="430px" height="194px">
		</div>
		<!-- logotipo -->

	</header>
	<!-- Fim Header: Menu e Logotipo -->

	<!-- Início das informações da Página -->
	<article>
		<div id="main"></div>
		<h1 id="title" class="pal"><span id="rcpol-InteractionLabel-flowerVisitors">Visitantes florais de</span> <i>{{plant}}</i></h1>
        <h1 id="msg" class="pal"><span id="content-msg"></span> <i>{{plant}}</i></h1>
        <!-- Início: Imagens de Abelhas -->        
        <div class="cspm"> 
		<div id="list"></div>


	<!-- Final: Imagens de Abelhas -->

	</article>
	<!-- Final das informações da Página -->

	<!-- Início do Rodapé -->
	<footer>
		<p id="rcpol-SiteLabel-siteCopyright">Copyright &copy; 2016 RCPol - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>
	</footer>
	<!-- Final do Rodapé -->

</div>
<script>
	$(document).ready(function(){
		var msg = "Mssage";
		var interactions = [];
		var self = this;                 
		$.getJSON( "/api/Interactions/pollinators?plant={{plant}}", function( data ) {
			$.getJSON( "/api/Interactions?filter=%7B%22where%22%3A%7B%22plant%22%3A%22{{plant}}%22%2C%20%22image%22%3A%7B%22exists%22%3Atrue%7D%7D%2C%22fields%22%3A%7B%22image%22%3Atrue%2C%22pollinator%22%3Atrue%7D%7D", function( imgs ) {
				interactions = data.response.map(function(item){
					var rs = item._id;   
					rs.image = "/img/filler-200px.png";                                         
					imgs.forEach(function(img){
						if(img.pollinator==rs.pollinator){                            
							rs.image = img.image.resized;
							rs.credits = img.image.credits;                                
							return false;
						}
					});       
					var content = $(`<div class="visitante">                    
										<img id="img-${rs.pollinator}" src="${rs.image}" class="visit-img">                        
										<p class="div-visitante">                    
										<a href="/interaction-profile/${rs.pollinator}">                    
										<i>${rs.pollinator}</i>
										</a></p>                    
										<p class="legenda-int-p" ><span class="rcpol-InteractionLabel-typeOfVisit">Tipo de visita registrada</span>: ${rs.type}</p>
										<p class="div-visitante">                    
										<img src="/img/eco_ref.png" title="${rs.reference}" class="popsref">                    
										<img src="/img/eco_copyr.png" title="${rs.credits}" class="popsref">
										</p>                        
									</div>`);     
					$("#list").append(content);                            
					return rs;                    
				});
				internacionalization.interactionTranslator();
		});        
		if(data.response.length==0){
			$("#content-msg").html("Não há registros de interação para ");
			$("#title").hide()
		} else {
			$("#msg").hide()
		}
	});
	});
</script>
</body>
</html>


                