<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>    
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="/bower_components/jquery-ui/themes/base/base.css">
		<script src="/bower_components/d3/d3.js"></script>
		<script src="/bower_components/d3-plugins-sankey/sankey.js"></script>
		<script src="/bower_components/d3.chart/d3.chart.js"></script>
		<script src="/javascript/d3.chart.sankey.js"></script>
	<!-- Css Documento -->
	
	<link rel="stylesheet" href="/css/eco_fichas.css">
	
	<style>  			 			
      #chart {
        height: 500px;
        font: 13px sans-serif;
      }
      .node rect {
        fill-opacity: 1;
        shape-rendering: crispEdges;
        stroke-width: 0;
      }
      .node text {
        text-shadow: 0 1px 0 #fff;				
      }
      .link {
        fill: none;
        stroke: #F9C6A7;
        stroke-opacity: .85;
      }
    </style>
	<title>RCPol</title>

	<script type="text/javascript" src="/javascript/internacionalization.js"></script>
	<script type="text/javascript">
	var internacionalization = new Internacionalization();			
	$(document).ready(function(){		    
		internacionalization.base = 'interaction';	  					  
		internacionalization.siteTranslator();		
		internacionalization.updateLogo();
	});
	function setLanguage(language){
			// alert(id + " - "+base);
			localStorage.language = language;
			// window.location = "/profile/species/"+base+"/"+id.split(":")[0]+":"+localStorage.language+":"+id.split(":")[2];
		}
	</script>
</head>
<body>
<div class="contem">
	<!-- Início Header: Menu e Logotipo -->
	<header>

		<!-- Menu: início -->
		<nav>
			<ul>
				<li> <!-- inserir link para o portal --> <a href="#" id="rcpol-SiteLabel-siteHome">Home</a></li>
				<li> <!-- inserir link para a ferramenta --> <a href="/" id="rcpol-SiteLabel-siteIdentificationKey">Identifica&ccedil;&atilde;o de esp&eacute;cies</a></li>
        <li> <!-- inserir link para o portal --> <a href="/profile/glossary" id="rcpol-SiteLabel-siteGlossary">Gloss&aacute;rio</a></li>
				<li>
					<!-- Deveriam ser essas banderinhas na página:-->
					<span class="t-lang">
							<img onclick="setLanguage('pt-BR')"  src="/img/pt_BR.png">
							<img onclick="setLanguage('en-US')"  src="/img/en_GB.png">
							<img onclick="setLanguage('es-ES')"  src="/img/es_ES.png">
					</span>
					<!-- No lugar dessas:
					<img onclick="setLanguage('en-US')" style="height:28px;margin-right:5px" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/128/United-Kingdom-flag-icon.png"></a>
					<img onclick="setLanguage('es-ES')" style="height:28px;margin-right:5px" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/128/Spain-Flag-icon.png">
					<img onclick="setLanguage('pt-BR')" style="height:28px;" src="http://icons.iconarchive.com/icons/custom-icon-design/flag-3/128/Brazil-Flag-icon.png">
					-->
				</li>
			</ul>
		</nav>
		<!-- Menu: fim -->

		<!-- logotipo -->
		<div class="logo">
			<img src="/img/logo.png" alt="RCPol - Rede de Cat&aacute;logos Pol&iacute;nicos online" width="430px" height="190px">
		</div>
		<!-- logotipo -->

	</header>
	<!-- Fim Header: Menu e Logotipo -->

	<!-- Início das informações da Página -->
	<article>
				<!-- Título da Página -->
		<h1 class="pal"><span id="rcpol-InteractionLabel-plantVisitedBy">Espécies de plantas visitadas por</span> <i>{{pollinator}}</i></h1>

		<!-- Seletor do gráfico -->
		<div class="graf-e">

			<div style="width:50%;display: inline-block">
                <span id="rcpol-InteractionLabel-selectRegion">Selecione Região</span>:<br>
                <select id ="region" class="opcoes-select" style="width:30%">
                    <option value="Brasil">Brasil</option>
                    <option value="Centro-Oeste">Centro-Oeste</option>
                    <option value="Nordeste">Nordeste</option>
                    <option value="Norte">Norte</option>
                    <option value="Sul">Sul</option>
                    <option value="Sudeste">Sudeste</option>
                </select>
            </div>
            <div style=" width:40%; display: inline-block">
                <span id="rcpol-InteractionLabel-selectVegetalForm">Selecione Formação Vegetal</span>: <br>
                <select id="vegetalForm" class="opcoes-select" >
                    <option value="Todas">Todas</option>
                    <option value="Área urbana">Área urbana</option>
                    <option value="Mata Atlântica">Mata Atlântica</option>
                    <option value="Vegetação de dunas">Vegetação de dunas</option>
                    <option value="Cultivo">Cultivo</option> 
					<option value="Cerrado">Cerrado</option> 
					<option value="Caatinga">Caatinga</option> 
					<option value="Floresta Amazônica">Floresta Amazônica</option> 
					
					                
					
                </select>
			</div>

		</div>

		<!-- Gráfico -->
		<div class="graf">

		<div style="height:1200px" id="chart"></div>

		</div>
		<!-- Final: Imagens de Abelhas -->
		<div class="rre">
			
			<h2><span id="rcpol-InteractionLabel-bibliographicReferences">Refer&ecirc;ncias Bibliogr&aacute;ficas</span>:</h2>
                <div id="vis">   								                
                </div>

		</div>
	</article>
	<!-- Final das informações da Página -->

	<!-- Início do Rodapé -->
	<footer>
		<p id="rcpol-SiteLabel-siteCopyright" title="teste">Copyright &copy; 2016 RCPol - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>
	</footer>
	<!-- Final do Rodapé -->

</div>
</body>
<script>
	$(document).ready(function(){		  
		var pollinator = "{{pollinator}}";
		var region = "Brasil";
		var vegetalForm = "Todas";

		$('#region').on('change', function() {			
			region = this.value
			load();
		});
		$('#vegetalForm').on('change', function() {			
			vegetalForm = this.value
			load();
		});

		function index(data, value){        
        for(var i = 0; i < data.length; i++){
				if(data[i].name == value)
					return i;
			}
			return -1;        
		}		
		function load(){		
			console.log(`/api/Interactions/findOne?filter=%7B"where"%3A%7B"pollinator"%3"${pollinator}"%7D%7D`)	
			$.getJSON(`/api/Interactions?filter=%7B%22where%22%3A%7B%22pollinator%22%3A%22${pollinator}%22%7D%7D`, function( interactions ) {				
				var interactionsGrouped = {}
				interactions.forEach( (interaction) => {					
					interactionsGrouped[interaction.reference] = 0
				})								
				var interactionsFinal = Object.keys(interactionsGrouped).map( (key) => {				
					return {reference:key}
				})				
				interactionsFinal.forEach( (interaction) => {				
					var aux = [];
					if(interaction.reference)
							aux.push(interaction.reference.split("|"));  
					aux.forEach(function(item){
						$("#vis").append(`<p>${item}</p>`);
					});
				})				
			});
			$.getJSON( "/api/Interactions/plants?pollinator="+pollinator+"&region="+region+"&vegetalForm="+vegetalForm, function( interactions ) {				
				// console.log(interactions);
				// // if(interactions.response.length>30){
				// 	// interactions.response.sort(function(a, b){
				// 		// return a.avgQuantity - b.avgQuantity;
				// 	// });
				// 	// interactions.response = interactions.response.slice(0,29)					
				// // }				
				// var problem = interactions.response.pop();
				// console.log("problem",problem)
				// var other = interactions.response[0];
				// other._id.plant = "Ricinus communis";
				// other._id.state = "São Paulo";
				// other._id.municipality = "São Paulo ";
				// console.log("other",other)				
				// // problem._id.state = "São Paulo";
				// interactions.response.push(other)

				// var sum = 0;
				// interactions.response.forEach(function(item){
				// 	sum = sum + item.avgQuantity;
				// });
				// console.log(sum)

				// console.log("ordered",interactions);				
				// interactions.response = interactions.response.map(function(item){
				// 	item.avgQuantity = item.avgQuantity;
				// 	return item;
				// })
				// // .filter(function(item){
				// 	// return item.avgQuantity < 7
				// // })
				
				
				// IN				
				var json = {nodes: [], links:[]};				
				var data = interactions.response.map(function(item){
					
						var d = {
								species: item._id.plant?item._id.plant:"", 
								value: item.avgQuantity?item.avgQuantity:0, 
								region: item._id.region?item._id.region:"",                     
								state: item._id.state?item._id.state:"", 
								municipality: item._id.municipality?item._id.municipality+" ":""}; // problema com nome de cidade e estado igual               
						return d;
				});            
				data.forEach(function(item){
						if(index(json.nodes,item.species)==-1)
								json.nodes.push({name:item.species, type:"species"});
						if(index(json.nodes,item.municipality)==-1)
								json.nodes.push({name:item.municipality});
						if(index(json.nodes,item.state)==-1)
								json.nodes.push({name:item.state});
						if(index(json.nodes,item.region)==-1)
								json.nodes.push({name:item.region});                
				});
				// Link Specie - Cidade
				data.forEach(function(item){
						var s = index(json.nodes, item.municipality);
						var t = index(json.nodes, item.species);
						var v = item.value;
						var link = {"source": s, "target":t, "value": v};
						var add = true;
						json.links.forEach(function(l){                    
								if(l.source==link.source && l.target==link.target){                        
										l.value = l.value + v;
										add=false;
										return false;
								}
						});
						if(add)
								json.links.push(link);
				});
				// Link Cidade - Estado
				data.forEach(function(item){
						var s = index(json.nodes, item.state);
						var t = index(json.nodes, item.municipality);
						var v = item.value;
						var link = {"source": s, "target": t, "value": v};
						var add = true;
						json.links.forEach(function(l){                    
								if(l.source==link.source && l.target==link.target){                        
										l.value = l.value + v;
										add=false;
										return false;
								}
						});
						if(add)
								json.links.push(link);
				});
				// Link Estado - Região
				data.forEach(function(item){
						var s = index(json.nodes, item.region);
						var t = index(json.nodes, item.state);
						var v = item.value;
						var link = {"source": s, "target": t, "value": v};
						var add = true;
						json.links.forEach(function(l){                    
								if(l.source==link.source && l.target==link.target){                        
										l.value = l.value + v;
										add=false;
										return false;
								}
						});
						if(add)
								json.links.push(link);
				});
				$("#chart").html("");                        
				var chart = d3.select("#chart").append("svg")
						.chart("Sankey.Path");                                        				
				chart.draw(json);
				
				d3.select("#chart").selectAll(".node")[0].forEach(function(g){                
						if(g.__data__.type=="species"){
								g.onclick = function(){
										window.open("/profile/species/eco/eco:"+localStorage.language+":"+g.__data__.name, '_blank');
								}
								$(g).css("font-style","italic");
						}                    
				});
				chart.nodePadding(10);
				if(data.length==0)
					$("#chart").html("<h2>Não há registros de interação para esta espécie nesta região.</h2>");

				internacionalization.interactionTranslator();
		});   	
		}
		load();			
	});
</script>
</html>