<!DOCTYPE html>
<html lang="pt-br">
{{#label}}
<head>
	<meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>
	<!-- Css Documento -->
	<link rel="stylesheet" href="/css/fichas.css">

	<!-- Arquivos Leaflet Map -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

	<!-- Arquivos Grid Tabela de Amostras -->
	<link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.min.js"></script>

	<!-- Arquivos Galeria - Fotorama -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

    <script type="text/javascript" src="/javascript/palinoteca.js"></script>

	<!-- Início: Códigos para o Mapa -->
	<script type="text/javascript">
		var id = "{{id}}"
		function setLanguage(language){
			localStorage.language = language;
			window.location = "/profile/palinoteca/"+language+id.substring(5,id.length);
		}
 	  $(document).ready(function(){

		// Início do código do Grid-Tabela
		$('#grid').w2grid({
		  name: 'grid',
		  header: 'Lista de Amostras',
		  show: {
			toolbar: true,
			footer: true
		  },
		  columns: [
			{ field: 'recid', caption: 'ID', size: '50px', sortable: true, attr: 'align=center' },
			{ field: 'species', caption: '{{dwc:Taxon:scientificName}}', size: '30%', sortable: true, resizable: true },
			{ field: 'tipo', caption: '{{dwc:Occurrence:recordedBy}}', size: '20%', resizable: true },
			{ field: 'cidade', caption: '{{dwc:Location:municipality}}', size: '10%', resizable: true }
		  ],
		  searches: [
			{ field: 'species', caption: '{{dwc:Taxon:scientificName}}', type: 'text' },
			{ field: 'tipo', caption: '{{dwc:Occurrence:recordedBy}}', type: 'text' },
			{ field: 'cidade', caption: '{{dwc:Location:municipality}}', type: 'text' }
		  ],
		  sortData: [{ field: 'recid', direction: 'ASC' }]
		});

		w2ui.grid.on('select', function(event) {
		  window.open("/profile/specimen/" + w2ui['grid'].get(event.recid).specimen_id);
		});
		{{#value}}
      readSpecimens("{{language}}","{{dwc:RecordLevel:institutionCode:value}}","{{dwc:RecordLevel:collectionCode:value}}");
		{{/value}}
	  });
	  //Final do Código do Grid-Tabela

	</script>
	<!-- Final: Códigos para o Mapa e Tabela -->


	<title>RCPol</title>
</head>
<body>
<div class="contem">
	<!-- Início Header: Menu e Logotipo -->
	<header>

		<!-- Menu: início -->
		<nav>
			<ul>
				<li> <!-- inserir link para o portal --> <a href="#">{{rcpol:SiteLabel:siteHome}}</a></li>
				<li> <!-- inserir link para a ferramenta --> <a href="/">{{rcpol:SiteLabel:siteIdentificationKey}}</a></li>
        <li> <!-- inserir link para o glossário --> <a href="/profile/glossary">{{rcpol:SiteLabel:siteGlossary}}</a></li>
				<li>
					<img onclick="setLanguage('en-US')" style="height:28px;margin-right:5px" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/128/United-Kingdom-flag-icon.png"></a>
					<img onclick="setLanguage('es-ES')" style="height:28px;margin-right:5px" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/128/Spain-Flag-icon.png">
					<img onclick="setLanguage('pt-BR')" style="height:28px;" src="http://icons.iconarchive.com/icons/custom-icon-design/flag-3/128/Brazil-Flag-icon.png">
				</li>
			</ul>
		</nav>
		<!-- Menu: fim -->

		<!-- logotipo -->
		<div class="logo">
			<img src="/img/logo.png" alt="RCPol - Rede de Cat&aacute;logos Pol&iacute;nicos online" width="423px" height="150px">
		</div>
		<!-- logotipo -->

	</header>
	<!-- Fim Header: Menu e Logotipo -->

	<!-- Início das informações da Palinoteca -->
	<article>
		{{#value}}

		<!-- Nome da Palinoteca -->
		<h1 id="nomeDaPalinoteca" class="pal"></h1>

		<!-- Início: Embrulho Informações e Logo -->
		<div class="cspm">

		<!-- Início: Informações Palinoteca -->
		<div class="info-pal">

		  <p><span id="nomeDaInstituicao">{{rcpol:Collection:institutionName:value}}</span> - {{dwc:RecordLevel:institutionCode:value}}</p>
		  <p><span id="nomeDoInstituto">{{rcpol:Collection:instituteName:value}}</span></p>
		  <p><span id="nomeDoDepartamento">{{rcpol:Collection:department:value}}</span></p>
		  <p><span id="nomeDoLaboratorio">{{rcpol:Collection:laboratory:value}}</span></p>
		  <p><span id="palinoteca">{{rcpol:Collection:collectionName:value}}</span> - <span id="siglaDaPalinoteca">{{dwc:RecordLevel:collectionCode:value}}</span></p>
		  <p><b>{{rcpol:Collection:responsible:label}}:</b> <span id="responsavel">{{rcpol:Collection:responsible:value}}</span></p>
		  <p><b>{{rcpol:Collection:address:label}}:</b> <span id="endereco">{{rcpol:Collection:address:value}}</span></p>
		  <p><b>{{rcpol:Collection:telephone:label}}:</b> <span id="telefone">{{rcpol:Collection:telephone:value}}</span></p>
		  <p><b>{{rcpol:Collection:email:label}}:</b> <span id="email">{{rcpol:Collection:email:value}}</span></p>

		  <!-- Link para homepage da palinoteca -->
		  <p><b>Homepage:</b> <a id="homepage_link" href="{{rcpol:Collection:homepage:value}}" target="_blank"><span id="homepage">{{rcpol:Collection:homepage:value}}</span></a></p>

		</div>
		<!-- Final: Informações Palinoteca -->

		<!-- Início: Logotipo da Palinoteca -->
		<div class="img-spal">

			<img id="logo" src="{{rcpol:Image:logotipo:value}}">

		</div>
		<!-- Final: Logotipo da Palinoteca -->

		</div>
		<!-- Início: Embrulho Informações e Logo -->

		<!-- Início: Espécimes depositados na coleção -->
		<div class="amostras">

			<h2>{{rcpol:ProfilesLabel:profilesSpecimenDepositedInCollection}}:</h2>

			<div id="grid"></div>

		</div>
		<!-- Final: Espécimes depositados na coleção -->
		<h2 style="margin-bottom:10px" id="rcpol-SiteLabel-howToCite">{{rcpol:SiteLabel:howToCite}}:</h2>
		<p id="rcpol-SiteLabel-citation">{{rcpol:SiteLabel:citation}}</p>
		{{/value}}
	</article>
	<!-- Final das informações da Palinoteca -->

	<!-- Início do Rodapé -->
	<footer>
		<p>{{rcpol:SiteLabel:siteCopyright}}</p>
	</footer>
	<!-- Final do Rodapé -->

</div>
</body>
{{/label}}
</html>
