<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>
	<!-- Css Documento -->
	<link rel="stylesheet" href="/css/{{base}}_fichas.css">

	<!-- Arquivos Leaflet Map -->
	<link rel="stylesheet" href="/javascript/leaflet/leaflet.css" />
	<script src="/javascript/leaflet/leaflet.js"></script>

	<!-- Arquivos Grid Tabela de Amostras -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>	
	
	<link async rel="stylesheet" type="text/css" href="/css/w2ui-1.4.min.css" />
	<script type="text/javascript" src="/javascript/w2ui-1.4.min.js"></script>
	
	
	
	<script type="text/javascript" src="/javascript/internacionalization.js"></script>
	<style>
		
.feedback-button {
	height:40px; border:solid 3px #CCCCCC; background:#333; width:100px; line-height:32px; -webkit-transform:rotate(-90deg); font-weight:600; color:white; transform:rotate(-90deg);  -ms-transform:rotate(-90deg);  -moz-transform:rotate(-90deg); text-align:center; font-size:17px; position:fixed; left:-40px; top:45%; font-family: "Roboto", helvetica, arial, sans-serif; z-index:999; 
	}
	@import "https://fonts.googleapis.com/css?family=Raleway";
* { box-sizing: border-box; }

h1{ margin: 0; }
#contact { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 4em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
  display: none;

  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

/* Google */

  .loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }

  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }

  .loginBtn:focus {
    outline: none;
  }

  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
  }
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }

  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('/img/icon_google.png') 6px 6px no-repeat;
  }

  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }  
	</style>

	<!-- Arquivos Galeria - Fotorama -->
	<link  href="/javascript/fotorama/{{base}}_fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="/javascript/fotorama/fotorama.js"></script> <!-- 16 KB -->

    <!-- Javascript Documento -->
    <script type="text/javascript" src="/javascript/especie.js"></script>

    <!-- Início: Códigos para o Mapa e Tabela -->
	<script type="text/javascript">
		var id = "{{id}}";
		var language = "pt-BR";
		var base = "{{base}}"
		function setLanguage(language){
			// alert(id + " - "+base);
			localStorage.language = language;
			window.location = "/profile/species/"+base+"/"+id.split(":")[0]+":"+localStorage.language+":"+id.split(":")[2];
		}
	  $(document).ready(function(){
	  		var internacionalization = new Internacionalization();
	  		internacionalization.base = '{{base}}';
	  		internacionalization.updateLogo();
			if(localStorage && localStorage.language)
				language = localStorage.language;
			$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22SiteLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
				data.forEach(function(label) {
					if(label.term=="citation"){
				        var field = label.field;
				        var formattedDate = "";
				        var date = new Date();
				        var day = date.getDate();
				        var monthIndex = date.getMonth();
				        var year = date.getFullYear();
				        if(self.language=="en-US"){
				          formattedDate = monthIndex+"/"+day+"/"+year;
				        } else formattedDate = day+"/"+monthIndex+"/"+year;
				        field = field+" "+formattedDate;
				        $("#"+label.schema+"-"+label["class"]+"-"+label.term).html(field);
				    } else $("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
				});
			});
			$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22ProfilesLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
				data.forEach(function(label) {
					$("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
				});
			});
			if (typeof(Storage) !== "undefined") {
					localStorage.language = localStorage.language?localStorage.language:"pt-BR";
					if(id.split(":")[1]!=localStorage.language)
						window.location = "/profile/species/{{base}}/"+id.split(":")[0]+":"+localStorage.language+":"+id.split(":")[2];
			} else {
					alert("O seu browswer não suporta alguns recursos utilizados pelo sistema.\nRecomenda-se atualizar browser ou utilizar outro.");
			}
		//readSpecies("{{id}}");
	  //});

	  //window.onload = function(){

		// Início do código do Mapa
		var map = L.map('map',{scrollWheelZoom:false}).setView([-15.096511,-48.351517], 4);
		L.tileLayer(
		  'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 18
		  }).addTo(map);
		//Final do Código do Mapa

		 $.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22schema%22%3A%22dwc%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
		 		var scientificName = "";
		 		var collectionName = "";
		 		var municipality = "";
		 		var recordedBy = "";
				data.forEach(function(item) {			      			      
			      if(item.term=="collectionCode") collectionName = item.field;
			      if(item.term=="recordedBy") recordedBy = item.field;
			      if(item.term=="municipality") municipality = item.field;
			      if(item.term=="scientificName") scientificName = item.field;
			    });
			    $('#grid').w2grid({
							name: 'grid',
							header: 'Lista de Amostras',
							show: {
								toolbar: true,
								footer: true
							},
							columns: [
								{ field: 'recid', caption: 'ID', size: '50px', sortable: true, attr: 'align=center' },
								{ field: 'scientificName', caption: scientificName, size: '20%', sortable: true, resizable: true },
								{ field: 'collectionName', caption: collectionName, size: '30%', sortable: true, resizable: true },
								// { field: 'recordedBy', caption: recordedBy, size: '25%', resizable: true },
							    { field: 'municipality', caption: municipality, size: '25%', resizable: true },
			                    { field: 'specimen_id', caption: 'Specimen_id', size: '20px', resizable: true, hidden: true }
							],
							searches: [
							  { field: 'scientificName', caption: scientificName, type: 'text' },
							  { field: 'collectionName', caption: collectionName, type: 'text' },
							//   { field: 'recordedBy', caption: recordedBy, type: 'text' },
							  { field: 'municipality', caption: municipality, type: 'text' }
							],
							sortData: [{ field: 'recid', direction: 'ASC' }]
						});
					    w2ui.grid.on('click', function(event) {
			              window.open("/profile/specimen/{{base}}/" + w2ui['grid'].get(event.recid).specimen_id);
			            });
						//Final do Código da Tabela-Grid
			        readSpecies(id, base, map);
					});     
			});		  		   
		    
		  
		
	</script>
	<!-- Final: Códigos para o Mapa e Tabela -->

</head>
<body>
<div class="contem">
	<!-- Início Header: Menu e Logotipo -->
	<header>

		<!-- Menu: início -->
		<nav>
			<ul>
				<li> <!-- inserir link para o portal --> <a href="http://rcpol.org.br" id="rcpol-SiteLabel-siteHome">Home</a></li>
				<li> <!-- inserir link para a ferramenta --> <a href="/{{base}}" id="rcpol-SiteLabel-siteIdentificationKey">Identifica&ccedil;&atilde;o de esp&eacute;cies</a></li>
        <li> <!-- inserir link para o glossário --> <a href="/profile/glossary/{{base}}" id="rcpol-SiteLabel-siteGlossary">Gloss&aacute;rio</a></li>
				<li>
					<span class="t-lang">
							<img onclick="setLanguage('pt-BR')"  src="/img/pt_BR.png">
							<img onclick="setLanguage('en-US')"  src="/img/en_GB.png">
							<img onclick="setLanguage('es-ES')"  src="/img/es_ES.png">
						</span>
				</li>
			</ul>
		</nav>
		<!-- Menu: fim -->

		<!-- logotipo -->
		<div class="logo">
			<img src="/img/logo.png" alt="RCPol - Rede de Cat&aacute;logos Pol&iacute;nicos online" width="430px" height="194px">
		</div>
		<!-- logotipo -->

	</header>
	<!-- Fim Header: Menu e Logotipo -->

	<!-- Início das informações da espécie -->
	<article>

	  <!-- Nome da espécie -->
      <h2 class="famesp" id="dwc-Taxon-family-value"></h2>
	  <h1> <i> <span id="dwc-Taxon-scientificName-value"></span> <span id="rcpol-Sample-palynomorphType-value"> </span> </i><span id="dwc-Taxon-scientificNameAuthorship-value"></span></h1>

      <!--Nome popular-->
	  <h2 class="popname" id="dwc-Taxon-vernacularName-value"></h2>

		<!-- Início: Textos -->
	  <div class="infos-txt">

	  <!-- Início: Características da Planta -->
	  <div class="info-planta">
      <h2> <span id="rcpol-ProfilesLabel-profilesPlantFeatures"></span></h2>
		    	<p><b><span id="rcpol-CategoricalDescriptor-habit-label"></span></b> <span id="rcpol-CategoricalDescriptor-habit-value"></span> </p>
					<p><b><span id="dwc-Occurrence-establishmentMean-label"></span></b> <span id="dwc-Occurrence-establishmentMean-value"></span></p>
					<p><b><span id="rcpol-Sample-floweringPeriod-label"></span></b> <span id="rcpol-Sample-floweringPeriod-value"></span></p>
					<p><b><span id="rcpol-CategoricalDescriptor-pollinationSyndrome-label"/></b> <span id="rcpol-CategoricalDescriptor-pollinationSyndrome-value"/></p>
	  </div>

	  <!-- Início: Características da Flor -->
	  <div class="info-flor">
			<h2> <span id="rcpol-ProfilesLabel-profilesFlowerFeatures"></span>:</h2>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-attractionUnit-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-attractionUnit-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-flowerSexuality-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-flowerSexuality-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-flowerForm-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-flowerForm-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-flowerSymmetry-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-flowerSymmetry-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-flowerColor-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-flowerColor-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-numberOfCarpelsInOvary-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-numberOfCarpelsInOvary-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-numberOfLoculesInTheOvary-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-numberOfLoculesInTheOvary-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-placentation-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-placentation-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-style-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-style-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-stigma-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-stigma-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-whorls-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-whorls-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-calyx-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-calyx-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-corolla-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-corolla-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-petalsxStamen-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-petalsxStamen-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-ovaryPosition-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-ovaryPosition-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-flowerOpeningTime-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-flowerOpeningTime-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-antherDehiscence-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-antherDehiscence-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-odorPresence-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-odorPresence-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-mainFloralResourceCollectedByVisitors-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-mainFloralResourceCollectedByVisitors-value"/></p>
				<p>
					<b><span id="rcpol-CategoricalDescriptor-flowerSize-label"/></b> 
					<span id="rcpol-CategoricalDescriptor-flowerSize-value"/></p>

		</div>
		<!-- Final: Características da Flor -->

		<!-- Início: Descrição Polínica -->
		<div class="info-polen">
			<h2> <span id="rcpol-ProfilesLabel-profilesPollenDescription"></span> <span id="rcpol-ProfilesLabel-profilesPalynomorphDescription"></span>:</h2>            
							<p>
								<b><span id="rcpol-CategoricalDescriptor-pollenDispersalUnit-label"/></b>
								<span id="rcpol-CategoricalDescriptor-pollenDispersalUnit-value"></span>
							</p>
							<p>
								<b><span id="rcpol-CategoricalDescriptor-pollenSymmetry-label"/></b>
								<span id="rcpol-CategoricalDescriptor-pollenSymmetry-value"></span>
							</p>
							<p>
								<b><span id="rcpol-CategoricalDescriptor-pollenPolarity-label"/></b>
								<span id="rcpol-CategoricalDescriptor-pollenPolarity-value"></span>
							</p>
							<p>
								<b><span id="rcpol-CategoricalDescriptor-pollenAmbit-label"/></b>
								<span id="rcpol-CategoricalDescriptor-pollenAmbit-value"></span>
							</p>
							<p>
								<b><span id="rcpol-CategoricalDescriptor-pollenAperture-label"/></b>
								<span id="rcpol-CategoricalDescriptor-pollenAperture-value"></span>
							</p>
							<p>
								<b><span id="rcpol-CategoricalDescriptor-colpeFeature-label"/></b>
								<span id="rcpol-CategoricalDescriptor-colpeFeature-value"></span>
							</p>
							<p>
								<b><span id="rcpol-CategoricalDescriptor-poreFeature-label"/></b>
								<span id="rcpol-CategoricalDescriptor-poreFeature-value"></span>
							</p>
							<p>
								<b><span id="rcpol-CategoricalDescriptor-numberOfApertures-label"/></b>
								<span id="rcpol-CategoricalDescriptor-numberOfApertures-value"></span>
							</p>
							<p>
								<b><span id="rcpol-CategoricalDescriptor-exineOrnamentation-label"/></b>
								<span id="rcpol-CategoricalDescriptor-exineOrnamentation-value"></span>
							</p>
							<p>
								<b><span id="rcpol-CategoricalDescriptor-pollenShape-label"/></b>
								<span id="rcpol-CategoricalDescriptor-pollenShape-value"></span>
							</p>
							<p>
								<b><span id="rcpol-CategoricalDescriptor-pollenSize-label"/></b>
								<span id="rcpol-CategoricalDescriptor-pollenSize-value"></span>
							</p>

							<p>
								<b><span id="rcpol-NumericalDescriptor-pollenShape-label"/></b>
								<span id="rcpol-NumericalDescriptor-pollenShape-value"></span>
							</p>
							<p>
								<b><span id="rcpol-NumericalDescriptor-pollenShapePE-label"/></b>
								<span id="rcpol-NumericalDescriptor-pollenShapePE-value"></span>
							</p>
							<p>
								<b><span id="rcpol-NumericalDescriptor-polarAxis-label"/></b>
								<span id="rcpol-NumericalDescriptor-polarAxis-value"></span>
							</p>
							<p>
								<b><span id="rcpol-NumericalDescriptor-equatorialAxis-label"/></b>
								<span id="rcpol-NumericalDescriptor-equatorialAxis-value"></span>
							</p>
							<p>
								<b><span id="rcpol-NumericalDescriptor-smallerPollenDiameter-label"/></b>
								<span id="rcpol-NumericalDescriptor-smallerPollenDiameter-value"></span>
							</p>
							<p>
								<b><span id="rcpol-NumericalDescriptor-pollenDiameter-label"/></b>
								<span id="rcpol-NumericalDescriptor-pollenDiameter-value"></span>
							</p>
							<p>
								<b><span id="rcpol-NumericalDescriptor-largerPollenDiameter-label"/></b>
								<span id="rcpol-NumericalDescriptor-largerPollenDiameter-value"></span>
							</p>
							<p>
								<b><span id="rcpol-NumericalDescriptor-espexi-label"/></b>
								<span id="rcpol-NumericalDescriptor-espexi-value"></span>
							</p>	
							<p>
								<b><span id="rcpol-Sample-palynomorphSpecialInformation-label"/></b>
								<span id="rcpol-Sample-palynomorphSpecialInformation-value"></span>
							</p>																		
		</div>
		<!-- Final: Descrição Polínica -->

</div>
		<!-- Final: Textos -->

		<!-- Início: Imagens -->
		<div class="infos-img">

		<!-- Início: Slideshow com as imagens da planta -->
		<div class="img-planta-ae">

			<h2> <span id="rcpol-ProfilesLabel-profilesImagesOfPlantFlowerFruit">Imagens da Planta, Flor e Frutos</span>:</h2>

			<div id="foto_planta" class="fotorama" data-allowfullscreen="native" data-width="425" data-maxheight="638">
              <!-- <img src="/img/lspm.jpg">-->
			</div>

		</div>
		<!-- Final: Slideshow com as imagens da planta -->


		<!-- Início: Fotos do Grão de Pólen -->
		<div class="img-polen">
			<p class="clique-full">Clique em <img src="/img/{{base}}_full.png"> para ver as imagens em tela cheia</p>

			<h2> <span id="rcpol-ProfilesLabel-profilesImagesOfPollen">Imagens do Gr&atilde;o de P&oacute;len</span>:</h2>

			<div id="foto_polen" class="fotorama" data-allowfullscreen="native" data-width="425" data-maxheight="425">
              <!-- <img src="/img/lspm.jpg">-->
			</div>

		</div>
		<!-- Final: Fotos do Grão de Pólen -->

</div>
		<!-- Final: Imagens -->

		<!-- Início: Mapa de distribuição -->
		<div class="mapa">

			<h2> <span id="rcpol-ProfilesLabel-profilesLocalityOfSpecies">Localiza&ccedil;&atilde;o dos Esp&eacute;cimes</span>:</h2>

			<!-- Início Código Leaflet -->
			<div id="map" class="esize">

			</div>
			<!-- Final Código Leaflet -->

		</div>
		<!-- Final: Mapa de distribuição -->

		<!-- Início: Amostras -->
		<div class="amostras">

			<h2> <span id="rcpol-ProfilesLabel-profilesSample">Amostras</span>:</h2>

			<div id="grid"></div>

		</div>
		<!-- Final: Amostras -->

        <!-- Início: Visitantes -->
		<!-- Inserir link para a página da interação: ficha_visitantes_especie.html-->
		<a id="interaction-url">
		  <div class="visitantes">		  	
			<h2 id="rcpol-ProfilesLabel-profilesKnowFlowerVisitors">
			  Conheça os visitantes florais dessa espécie
			</h2>

		  </div>
		</a>
		<!-- Final: Visitantes -->		
		<h2 style="margin-bottom:10px" id="rcpol-SiteLabel-howToCite">Como citar:</h2>
		<p id="rcpol-SiteLabel-citation">Rede de Catálogos Polínicos online. Available in: <<a href=" http://chave.rcpol.gov.br">http://chave.rcpol.gov.br/</a> >. Date of access: </p>
	</article>
	<!-- Final das informações da espécie -->

	<!-- Início do Rodapé -->
	<footer>
		<p id="rcpol-SiteLabel-siteCopyright">Copyright &copy; 2016 RCPol - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>		
	</footer>
	<!-- Final do Rodapé -->

</div>

		
		<div id="contactForm">

  <h1 style="margin-bottom:1em">Encontrou algum problema?</h1>
  <small>Comunique-nos sobre qualquer mau funcionamento no sistema ou problema nos dados ou imagens.</small>
  
  <form action="#">
	<div style="margin:1em">
		<label style="margin:1em">
			Onde está o problema?
		</label>
		<select id="feedback-category">
			<option value="" selected></option>
			<option value="data">Dados</option>
			<option value="images">Imagem</option>
			<option value="system">Sistema</option>		
		</select>
	</div>    
    <textarea id="feedback-msg" placeholder="Descreva com detalhes o que precisa mudar"></textarea>
	<div id="no-auth">
		<p>Para enviar, é necessário logar-se antes.</p>
		<button id="google-login" class="loginBtn loginBtn--google">
			Login com Google
		</button>
	</div>
	<div id="auth">
		<input onclick="sendFeedback()" class="formBtn" type="submit" value="Enviar"/>
		<input onclick="exitFeedback();" class="formBtn" type="reset" value="Sair"/>
	</div>
  </form>
</div>

<button id="popup" class="feedback-button" onclick="toggle_visibility()">Reportar</button>
<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase-firestore.js"></script>
<script>
	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyBSZPz37axCH9r50s7TdrgGdTi0Tt32Vtc",
		authDomain: "rcpol-br.firebaseapp.com",
		databaseURL: "https://rcpol-br.firebaseio.com",
		projectId: "rcpol-br",
		storageBucket: "rcpol-br.appspot.com",
		messagingSenderId: "844439219375"
	};
	firebase.initializeApp(config);
	var db = firebase.firestore();
	var provider = new firebase.auth.GoogleAuthProvider();
	provider.addScope('https://www.googleapis.com/auth/userinfo.email');
	user = {};
	function exitFeedback(){
		$('#contactForm').fadeOut();
		firebase.auth().signOut().then(function() {
		// Sign-out successful.
		}).catch(function(error) {
		// An error happened.
		});
	}
	function sendFeedback(){		
		var data = {
			user: {
				uid: user.uid?user.uid:"",
				name: user.displayName?user.displayName:"",
				email: user.email?user.email:""
			},
			page: "species",
			url: window.location.href,
			category: $("#feedback-category").val(),
			msg: $("#feedback-msg").val()		
		}		
		if(data.category!=""){
			db.collection("feedback").doc(data.page).collection(data.category).add(data)
			.then(function(docRef) {
				alert("Obrigado pela colaboração. \nEntraremos em contato informando sobre a correção do problema.")
				$("#feedback-msg").val("");
				$("#feedback-category").val("")
				$('#contactForm').fadeOut();
			})
			.catch(function(error) {
				console.error("Error adding document: ", error);
			});
		} else {
			alert("É necessário preencher todos os campos.")
		}
		

	}
	$(function() {
		$("#auth").hide();
		$(document).mouseup(function (e) {
			var container = $("#contactForm");
			if (!container.is(e.target) // if the target of the click isn't the container...
				&& container.has(e.target).length === 0) // ... nor a descendant of the container
			{
				container.fadeOut();
			}
		});
		firebase.auth().onAuthStateChanged(function(user_) {
			if (user_) {				
				$("#no-auth").hide();
				$("#auth").show();
				user = user_;
			} else {
				$("#no-auth").show();
				$("#auth").hide();
			}
		});
		$("#google-login").click(function(){
			firebase.auth().signInWithPopup(provider).then(function(result) {
				// This gives you a Google Access Token. You can use it to access the Google API.
				var token = result.credential.accessToken;
				// The signed-in user info.
				var user = result.user;
				console.log(result)
				// ...
			}).catch(function(error) {
				// Handle Errors here.
				var errorCode = error.code;
				var errorMessage = error.message;
				// The email of the user's account used.
				var email = error.email;
				// The firebase.auth.AuthCredential type that was used.
				var credential = error.credential;
				firebase.auth().signInWithPopup(provider).then(function(result) {
					// This gives you a Google Access Token. You can use it to access the Google API.
					var token = result.credential.accessToken;
					// The signed-in user info.
					var user = result.user;
					console.log(result)
					// ...
				}).catch(function(error) {
					// Handle Errors here.
					var errorCode = error.code;
					var errorMessage = error.message;
					// The email of the user's account used.
					var email = error.email;
					// The firebase.auth.AuthCredential type that was used.
					var credential = error.credential;
					firebase.auth().signInWithPopup(provider).then(function(result) {
						// This gives you a Google Access Token. You can use it to access the Google API.
						var token = result.credential.accessToken;
						// The signed-in user info.
						var user = result.user;
						console.log(result)
						// ...
					}).catch(function(error) {
						// Handle Errors here.
						var errorCode = error.code;
						var errorMessage = error.message;
						// The email of the user's account used.
						var email = error.email;
						// The firebase.auth.AuthCredential type that was used.
						var credential = error.credential;
						
					// ...
					});
				// ...
				});
			// ...
			});
		});	
	});
	function toggle_visibility() {
		$('#contactForm').fadeToggle();       
    }
	
</script>
</body>
</html>
