<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic|Roboto+Condensed' rel='stylesheet' type='text/css'>
	<!-- Css Documento -->
	<link rel="stylesheet" href="/css/fichas.css">

	<!-- Arquivos Leaflet Map -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="/javascript/leaflet.js"></script>

	<!-- Arquivos Grid Tabela de Amostras -->
	<link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.min.js"></script>

	<!-- Arquivos Galeria - Fotorama -->
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

    <!-- Javascript Documento -->
    <script type="text/javascript" src="/javascript/especie.js"></script>

	<!-- Início: Códigos para o Mapa e Tabela -->
	<script type="text/javascript">
		var id = "{{id}}";
		var language = "pt-BR";
		function setLanguage(language){
			localStorage.language = language;
			window.location = "/profile/species/"+localStorage.language+":"+id.split(":")[1];
		}
	  $(document).ready(function(){
			if(localStorage && localStorage.language)
				language = localStorage.language;
			$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22SiteLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
				data.forEach(function(label) {
					$("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
				});
			});
			$.getJSON("/api/Schemas?filter=%7B%22where%22%3A%7B%22class%22%3A%22ProfilesLabel%22%2C%22language%22%3A%22"+language+"%22%7D%7D", function(data){
				data.forEach(function(label) {
					$("#"+label.schema+"-"+label["class"]+"-"+label.term).html(label.field);
				});
			});
			if (typeof(Storage) !== "undefined") {
					localStorage.language = localStorage.language?localStorage.language:"pt-BR";
					if(id.split(":")[0]!=localStorage.language)
						window.location = "/profile/species/"+localStorage.language+":"+id.split(":")[1];
			} else {
					alert("O seu browswer não suporta alguns recursos utilizados pelo sistema.\nRecomenda-se atualizar browser ou utilizar outro.");
			}
		//readSpecies("{{id}}");
	  //});

	  //window.onload = function(){

		// Início do código do Mapa
		var map = L.map('map',{scrollWheelZoom:false}).setView([-15.096511,-48.351517], 4);
		L.tileLayer(
		  'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 18
		  }).addTo(map);
		//Final do Código do Mapa

		//Início do Código da Tabela-Grid
		$('#grid').w2grid({
				name: 'grid',
				header: 'Lista de Amostras',
				show: {
					toolbar: true,
					footer: true
				},
				columns: [
					{ field: 'recid', caption: 'ID', size: '50px', sortable: true, attr: 'align=center' },
					{ field: 'scientificName', caption: 'Nome da Espécie', size: '20%', sortable: true, resizable: true },
					{ field: 'collectionName', caption: 'Palinoteca', size: '30%', sortable: true, resizable: true },
					{ field: 'recordedBy', caption: 'Nome do Coletor', size: '25%', resizable: true },
				    { field: 'municipality', caption: 'Cidade', size: '25%', resizable: true },
                    { field: 'specimen_id', caption: 'Specimen_id', size: '20px', resizable: true, hidden: true }
				],
				searches: [
				  { field: 'species', caption: 'Nome da espécie', type: 'text' },
				  { field: 'palinoteca', caption: 'Palinotéca', type: 'text' },
				  { field: 'tipo', caption: 'Nome do Coletor', type: 'text' },
				  { field: 'cidade', caption: 'Cidade', type: 'text' }
				],
				sortData: [{ field: 'recid', direction: 'ASC' }]
			});
		    w2ui.grid.on('click', function(event) {
              window.open("/profile/specimen/" + w2ui['grid'].get(event.recid).specimen_id);
            });
			//Final do Código da Tabela-Grid
        readSpecies(id, map);
		});
	</script>
	<!-- Final: Códigos para o Mapa e Tabela -->

</head>
<body>
<div class="contem">
	<!-- Início Header: Menu e Logotipo -->
	<header>

		<!-- Menu: início -->
		<nav>
			<ul>
				<li> <!-- inserir link para o portal --> <a href="#" id="rcpol-SiteLabel-siteHome">Home</a></li>
				<li> <!-- inserir link para a ferramenta --> <a href="/" id="rcpol-SiteLabel-siteIdentificationKey">Identifica&ccedil;&atilde;o de esp&eacute;cies</a></li>
        <li> <!-- inserir link para o glossário --> <a href="/profile/glossary" id="rcpol-SiteLabel-siteGlossary">Gloss&aacute;rio</a></li>
				<li>
					<img onclick="setLanguage('en-US')" style="height:28px;margin-right:5px" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/128/United-Kingdom-flag-icon.png"></a>
					<img onclick="setLanguage('es-ES')" style="height:28px;margin-right:5px" src="http://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/128/Spain-Flag-icon.png">
					<img onclick="setLanguage('pt-BR')" style="height:28px;" src="http://icons.iconarchive.com/icons/custom-icon-design/flag-3/128/Brazil-Flag-icon.png">
				</li>
			</ul>
		</nav>
		<!-- Menu: fim -->

		<!-- logotipo -->
		<div class="logo">
			<img src="/img/logo.png" alt="RCPol - Rede de Cat&aacute;logos Pol&iacute;nicos online" width="423px" height="150px">
		</div>
		<!-- logotipo -->

	</header>
	<!-- Fim Header: Menu e Logotipo -->

	<!-- Início das informações da espécie -->
	<article>

	  <!-- Nome da espécie -->
      <h2 class="famesp" id="dwc-Taxon-family-value"></h2>
	  <h1> <i> <span id="dwc-Taxon-scientificName-value"></span> </i><span id="dwc-Taxon-scientificNameAuthorship-value"></span></h1>

      <!--Nome popular-->
	  <h2 class="popname" id="dwc-Taxon-vernacularName-value"></h2>

		<!-- Início: Características da Planta -->
	  <div class="info-planta">
      <h2> <span id="rcpol-ProfilesLabel-profilesPlantFeatures">Caracter&iacute;sticas da Planta</span>:</h2>
		    	<p><b><span id="rcpol-CategoricalDescriptor-habit-label"></span></b> <span id="rcpol-CategoricalDescriptor-habit-value"></span> </p>
					<p><b><span id="dwc-Occurrence-establishmentMean-label"></span></b> <span id="dwc-Occurrence-establishmentMean-value"></span></p>
					<p><b><span id="rcpol-Sample-floweringPeriod-label"></span></b> <span id="rcpol-Sample-floweringPeriod-value"></span></p>
					<p><b><span id="rcpol-CategoricalDescriptor-pollinationSyndrome-label"/></b> <span id="rcpol-CategoricalDescriptor-pollinationSyndrome-value"/></p>

			<h2> <span id="rcpol-ProfilesLabel-profilesFlowerFeatures">Caracter&iacute;sticas da Flor</span>:</h2>
				<p><b><span id="rcpol-CategoricalDescriptor-attractionUnit-label"/></b> <span id="rcpol-CategoricalDescriptor-attractionUnit-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-flowerSexuality-label"/></b> <span id="rcpol-CategoricalDescriptor-flowerSexuality-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-flowerForm-label"/></b> <span id="rcpol-CategoricalDescriptor-flowerForm-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-flowerSymmetry-label"/></b> <span id="rcpol-CategoricalDescriptor-flowerSymmetry-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-flowerColor-label"/></b> <span id="rcpol-CategoricalDescriptor-flowerColor-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-numberOfCarpelsInOvary-label"/></b> <span id="rcpol-CategoricalDescriptor-numberOfCarpelsInOvary-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-numberOfLoculesInTheOvary-label"/></b> <span id="rcpol-CategoricalDescriptor-numberOfLoculesInTheOvary-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-placentation-label"/></b> <span id="rcpol-CategoricalDescriptor-placentation-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-style-label"/></b> <span id="rcpol-CategoricalDescriptor-style-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-stigma-label"/></b> <span id="rcpol-CategoricalDescriptor-stigma-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-whorls-label"/></b> <span id="rcpol-CategoricalDescriptor-whorls-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-calyx-label"/></b> <span id="rcpol-CategoricalDescriptor-calyx-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-corolla-label"/></b> <span id="rcpol-CategoricalDescriptor-corolla-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-petalsxStamen-label"/></b> <span id="rcpol-CategoricalDescriptor-petalsxStamen-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-ovaryPosition-label"/></b> <span id="rcpol-CategoricalDescriptor-ovaryPosition-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-flowerOpeningTime-label"/></b> <span id="rcpol-CategoricalDescriptor-flowerOpeningTime-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-antherDehiscence-label"/></b> <span id="rcpol-CategoricalDescriptor-antherDehiscence-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-odorPresence-label"/></b> <span id="rcpol-CategoricalDescriptor-odorPresence-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-mainFloralResourceCollectedByVisitors-label"/></b> <span id="rcpol-CategoricalDescriptor-mainFloralResourceCollectedByVisitors-value"/></p>
				<p><b><span id="rcpol-CategoricalDescriptor-flowerSize-label"/></b> <span id="rcpol-CategoricalDescriptor-flowerSize-value"/></p>

		</div>
		<!-- Final: Características da Planta -->

		<!-- Início: Slideshow com as imagens da planta -->
		<div class="img-planta-ae">

			<h2> <span id="rcpol-ProfilesLabel-profilesImagesOfPlantFlowerFruit">Imagens da Planta, Flor e Frutos</span>:</h2>

			<div id="foto_planta" class="fotorama" data-allowfullscreen="native" data-width="425" data-height="365">
              <!-- <img src="/img/lspm.jpg">-->
			</div>

		</div>
		<!-- Final: Slideshow com as imagens da planta -->

		<!-- Início: Descrição Polínica -->
		<div class="info-polen">
			<h2> <span id="rcpol-ProfilesLabel-profilesPollenDescription">Descri&ccedil;&atilde;o pol&iacute;nica</span>:</h2>
            <p>
							<p><b><span id="rcpol-CategoricalDescriptor-pollenDispersalUnit-label"/></b> <span id="rcpol-CategoricalDescriptor-pollenDispersalUnit-value"></span>
							<p><b><span id="rcpol-CategoricalDescriptor-pollenSymmetry-label"/></b> <span id="rcpol-CategoricalDescriptor-pollenSymmetry-value"></span>
							<p><b><span id="rcpol-CategoricalDescriptor-pollenPolarity-label"/></b> <span id="rcpol-CategoricalDescriptor-pollenPolarity-value"></span>
							<p><b><span id="rcpol-CategoricalDescriptor-pollenAmbit-label"/></b> <span id="rcpol-CategoricalDescriptor-pollenAmbit-value"></span>
							<p><b><span id="rcpol-CategoricalDescriptor-pollenAperture-label"/></b> <span id="rcpol-CategoricalDescriptor-pollenAperture-value"></span>
							<p><b><span id="rcpol-CategoricalDescriptor-colpeFeature-label"/></b> <span id="rcpol-CategoricalDescriptor-colpeFeature-value"></span>
							<p><b><span id="rcpol-CategoricalDescriptor-poreFeature-label"/></b> <span id="rcpol-CategoricalDescriptor-poreFeature-value"></span>
							<p><b><span id="rcpol-CategoricalDescriptor-numberOfApertures-label"/></b> <span id="rcpol-CategoricalDescriptor-numberOfApertures-value"></span>
							<p><b><span id="rcpol-CategoricalDescriptor-exineOrnamentation-label"/></b> <span id="rcpol-CategoricalDescriptor-exineOrnamentation-value"></span>

							<p><b><span id="rcpol-NumericalDescriptor-pollenShape-label"/></b> <span id="rcpol-NumericalDescriptor-pollenShape-value"></span>
							<p><b><span id="rcpol-NumericalDescriptor-pollenShapePE-label"/></b> <span id="rcpol-NumericalDescriptor-pollenShapePE-value"></span>
							<p><b><span id="rcpol-NumericalDescriptor-polarAxis-label"/></b> <span id="rcpol-NumericalDescriptor-polarAxis-value"></span>
							<p><b><span id="rcpol-NumericalDescriptor-equatorialAxis-label"/></b> <span id="rcpol-NumericalDescriptor-equatorialAxis-value"></span>
							<p><b><span id="rcpol-NumericalDescriptor-smallerPollenDiameter-label"/></b> <span id="rcpol-NumericalDescriptor-smallerPollenDiameter-value"></span>
							<p><b><span id="rcpol-NumericalDescriptor-pollenDiameter-label"/></b> <span id="rcpol-NumericalDescriptor-pollenDiameter-value"></span>
							<p><b><span id="rcpol-NumericalDescriptor-largerPollenDiameter-label"/></b> <span id="rcpol-NumericalDescriptor-largerPollenDiameter-value"></span>
							<p><b><span id="rcpol-NumericalDescriptor-espexi-label"/></b> <span id="rcpol-NumericalDescriptor-espexi-value"></span>
						</p>
		</div>
		<!-- Final: Descrição Polínica -->

		<!-- Início: Fotos do Grão de Pólen -->
		<div class="img-polen">

			<h2> <span id="rcpol-ProfilesLabel-profilesImagesOfPollen">Imagens do Gr&atilde;o de P&oacute;len</span>:</h2>

			<div id="foto_polen" class="fotorama" data-allowfullscreen="native" data-width="900" data-height="300">
              <!-- <img src="/img/lspm.jpg">-->
			</div>

		</div>
		<!-- Final: Fotos do Grão de Pólen -->

		<!-- Início: Mapa de distribuição -->
		<div class="mapa">

			<h2> <span id="rcpol-ProfilesLabel-profilesLocalityOfSpecies">Localiza&ccedil;&atilde;o dos Esp&eacute;cimes</span>:</h2>

			<!-- Início Código Leaflet -->
			<div id="map" class="esize">

			</div>
			<!-- Final Código Leaflet -->

		</div>
		<!-- Final: Mapa de distribuição -->

		<!-- Início: Amostras -->
		<div class="amostras">

			<h2> <span id="rcpol-ProfilesLabel-profilesSample">Amostras</span>:</h2>

			<div id="grid"></div>

		</div>
		<!-- Final: Amostras -->

        <!-- Início: Visitantes -->
		<!-- Inserir link para a página da interação: ficha_visitantes_especie.html-->
		<a href="/ficha_visitantes_especie.html">
		  <div class="visitantes">

			<h2 id="rcpol-ProfilesLabel-profilesKnowFlowerVisitors">
			  Conheça os visitantes florais dessa espécie
			</h2>

		  </div>
		</a>
		<!-- Final: Visitantes -->

	</article>
	<!-- Final das informações da espécie -->

	<!-- Início do Rodapé -->
	<footer>
		<p id="rcpol-SiteLabel-siteCopyright">Copyright &copy; 2016 RCPol - Todos os direitos reservados e outras informa&ccedil;&otilde;es</p>
	</footer>
	<!-- Final do Rodapé -->

</div>
</body>
</html>
