*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
npm-debug.log

deployment-config.json

client/images/*
client/resized/*
client/thumbnails/*

uploads/*
storage/*

*.xlsx

client/resized/

node_modules/
