version: '2'

services:
  web:
    build: .
    volumes:
      - .:/var/www/bdd
    links:
      - mongo
    ports:
      - "80:3030" 
    container_name: rcpol_node   
  mongo:
    image: mongo
    ports:
      - "27027:27017"
    volumes:
      - ../db:/data/db
    container_name: rcpol_mongo