body {
	background-color: #FFAD60;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 21px;
}

/* Formatações específicas necessárias */
div.glossario {
	width: 600px;
	background-color: white;
	padding: 50px;
	overflow: auto;
	margin: 0 auto;
}

div.glossario h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	color: #470054;
	font-weight: normal;
	margin: 0 0 12px 0;
}

div.glossario h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: #470054;
	font-weight: normal;
	margin: 13px 0 0 0;
}

div.glossario p {
	font-size: 14px;
	line-height: 21px;
	color: black;
	padding: 0 0 12px 0;
	margin: 0;
}

div.glossario img {
	float: right;
	width: 200px;
	height: 200px;
	max-width: 200px;
	max-height: 200px;
	margin: 0 0 25px 25px;
}

div.ref-glossario {
	width: 100%;
	display: table-row;
}

div.ref-glossario p {
	padding: 12px 0 0 0;
	margin: 0;
	font-size: 12px;
	line-height: 18px;
}