/* CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* Fundo, links e caixa central */
body {
	background: url(21s.jpg) no-repeat center top;
	background-color: #d3bf73;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 21px;
}

a:link, a:visited {
	text-decoration: none;
	color: #510A5E;
}

a:hover, a:active {
	background-color: #d79502;
	color: black;
}

div.contem {
	width: 1000px;
	margin: 0 auto;
}

/* Header */

header {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: auto;
}

/* Menu */
nav {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 12px 0 0 0;
	padding: 0;
	float: right;
}

ul li {
	float: right;
	clear: both;
	padding: 0 0 12px 0;
	margin: 0;
}

ul li a {
	display: block;
	background-color: #d3bf73;
	color: #4b0200;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}

ul li a:hover {
	background-color: #d79502;
}

/* Bandeiras de troca de língua */
span.t-lang {
	display: block;
	background-color: rgba(240, 234, 185, 0.6);
	padding: 15px 8px;
	height: 25px;
}

span.t-lang img {
	height: 25px;
	width: 38px;
	margin: 0 7px;
}

/* Logotipo */
div.logo {
	display: block;
	float: left;
	margin: 25px 0 25px 50px;
}

/* Fundo translucido artigo*/
article {
	overflow: auto;
	background-color: white;
	padding: 40px 50px;
}

/* Título Glossário */
article h1.glo-tit {
	line-height: 35px;
	font-size: 28px;
	margin: 0 0 25px 0;
	font-family: 'Roboto Condensed', sans-serif;
	float: left;
}

article h2 {
	font-size: 21px;
	font-weight: normal;
	color: #d79502;
	margin: 25px 0;
	font-family: 'Roboto Condensed', sans-serif;
}

/* Busca */
.formbusca {
	float:right;
	width: 300px;
	padding-right: 25px;
	text-align: right;
}

.fbcampo {
	margin: 0;
	padding: 5px 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #d79502;
	border:1px solid #d3bf73;
	border-right:0px;
}

.fbbotao {
	margin: 0;
	padding: 5px 7px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #4b0200;
	border: solid 1px #d3bf73;
	background: #d3bf73;
	line-height: 17px;
	/*firefox 18 edge 16*/
}

.fbbotao:hover {
	text-decoration: none;
	background: #d79502;
}
/*
.fbbotao::-moz-focus-inner {
  border: 0;
}*/

.tfclear{
	clear:both;
}

@-moz-document url-prefix(http://) {
	button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
		padding: 0 !important;
		border: 0 none !important;
	}
}

/* Título */
article h1 {
	font-size: 35px;
	font-weight: normal;
	line-height: 35px;
	margin: 0 0 25px 0;
	color: #d79502;
}

/* Item agregador */
div.glossario-s {
	width: 800px;
	padding: 50px 50px 0 50px;
	overflow: auto;
	margin: 0;
}

div.glossario-s h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	color: #4b0200;
	font-weight: normal;
	margin: 0 0 0 0;
}

div.glossario-s h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: #a5807f;
	font-weight: normal;
	margin: 0 0 13px 0;
}

div.glossario-s p {
	font-size: 14px;
	line-height: 21px;
	color: black;
	padding: 0 0 12px 0;
	margin: 0;
}

div.glossario-s img.popsref {
	height: 20px;
	width: 20px;
	float: none;
	padding: 0;
	/* margin: 0 0 0 5px; */
	margin: -10px 0;
	vertical-align: top;
}

div.glossario-s img {
	float: right;
	width: 200px;
	height: 200px;
	max-width: 200px;
	max-height: 200px;
	margin: 0 0 25px 25px;
}

/* Referências */
div.rre {
	display: block;
	margin: 0 0 -12px 0;
	clear: both;
}

div.rre p {
	margin: 0 0 7px 0;
}

div.popsreft {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #4b0200;
	font-weight: normal;
	margin: 0;
}

span.popsrefp {
	padding: 7px 0 0 0;
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
}

div#references {
	display: block;
	float: left;
}

div#credits {
	display: block;
	float: left;
	margin: 0 0 0 5px;
}

/* Rodapé */
footer {
	display: block;
	background-color: #d79502;
	padding: 25px 50px;
	text-align: center;
	margin: 0 0 50px 0;
	color: white;
	font-size: 12px;
}

/* Tamanho Mapa Espécie */
div.esize {
	height: 450px;
	width: 900px;
}

/* Tamanho Mapa Espécime */
div.msize {
	height: 425px;
	width: 425px;
}

/* Tamanho Tabela Amostras */
#grid {
	height: 450px;
	width: 900px;
}

/* Visitantes da Espécie */
div.visitante {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin: 0 0 22px 22px;
}

img.visit-img {
	width: 200px;
	height: 200px;
	min-width: 200px;
	min-height: 200px;
	max-height: 200px;
	max-height: 200px;
}

div.visitante p {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}